<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WPensar Store</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <section class="content">
        <div class="navbar">
            <ul>
                <a href="/store"><li>Home</li></a>
                <a href="/store/register"><li>Registrar Compra</li></a>
                <a href="/store/products"><li>Todos os produtos</li></a>
                <a href="/store/search"><li>Pesquisar média de um produto</li></a>
            </ul>
        </div>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>